@charset "utf-8";
/* CSS Document */

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    font-size: 1em;
    background-color: #bdb5d5;
}

a::after {
    content: '';
    position: absolute; 
    left: 0;
    bottom: -40px; 
    width: 100%;
    height: 50px; 
    transform: scaleX(0);
    transform-origin: right;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 400"><path d="M490.2838324634414 166.81613317626585C449.1777024992487 164.872934018551 242.4512417245091 154.11059983072548 243.64705267828515 155.1569382299768C244.8428636320612 156.2032766292281 455.1567572681289 170.1046260148075 497.45869818609765 173.09416357177366" fill="none" stroke-width="25" stroke="hsl(50, 98%, 50%)" stroke-linecap="round"></path></svg>');
    background-size: 100% 100%;
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: left; 
}

header {
    background-image: url("https://aceadmin.com.au/stars.jpg");
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

.title {
    bottom: 50%; 
    transform: translateY(50%); 
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    z-index: 10; 
    font-size: 3em;
    text-align: center;
}

.subtitle {
    font-size: 2.5em;
    bottom: 50%; 
    transform: translateY(50%); 
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    z-index: 10; 
    text-align: center;
    line-height: 0.1;
}

.content {
    color: #fff;
    text-align: center;
    line-height: 1;
    max-width: 60%;
    margin: 0 auto;
    padding: 50px;
}

.content a {
	font-weight: 700;
	color: aqua;
	text-decoration: none;
}

.bold {
    color: #CCC429;
    font-weight: 700;
    display: inline;
}

nav {
    color: #fff;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}

nav a {
    font-size: 1.5em;
    color: aqua;
    text-align: center;
    position: relative; 
    padding: 0 10px;
	text-decoration: none;
}

.socials {
    color: #fff;
    text-align: center;
    line-height: 1;
    max-width: 60%;
    margin: 0 auto;
    padding: 50px;
	display: flex;
	justify-content: center;
   }

.socials img {
    width: 50px; 
	filter: brightness(0) saturate(100%) invert(97%) sepia(100%) saturate(6415%) hue-rotate(91deg) brightness(106%) contrast(103%);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 60px;
  font-family: 'Titillium Web', sans-serif;
  color: aqua;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  margin: 5px;
  transition: 1s;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 1s;
  text-align: center;
}

.social-btn:hover {
  width: 250px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: max-content;
}